{
  "presets": [
    "@babel/react",
    "@babel/env"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    },
    "production": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false
          }
        ]
      ]
    }
  }
}
