.alexandr {
    position: relative;
    bottom: 30%;
    right: 40%;
    z-index: 0;
}
#about {
    width: 30%;
    position: absolute;
    top: 20%;
    left: 60%;
    padding: 2vh;
    border: 1px solid white;
}
  